#ui-datepicker-div {
    background-clip: padding-box;
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    width: 20em;
    padding: 5px 13px 8px;
    top: 100%;
    z-index: 1000;
}

#ui-datepicker-div a{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#ui-datepicker-div .ui-datepicker-title{
    text-align: center;
}

#ui-datepicker-div .ui-corner-all{
    text-align: center;
    cursor: pointer;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    padding-bottom: 5px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #177bbb;
    background: #177bbb;
    color: #FFF;
    border-radius: 2px; 
}

.ui-state-hover{
    background-color: #EEEEEE; 
    color: #484848;
    border-radius: 2px;
}

.ui-datepicker-calendar td a, .ui-datepicker-calendar th a{
    text-align: center !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev:before {
    color: #484848;
    content: '\e878';
    display: inline-block;
    font-family: 'Entypo';
    font-weight: bold;
    padding-top: 3px;
}

.ui-datepicker .ui-datepicker-next:before {
    color: #484848;
    content: '\e879';
    display: inline-block;
    font-family: 'Entypo';
    font-weight: bold;
    padding-top: 3px;
}